<!DOCTYPE html>
<html>
<head>
    <title>DSA Visualizer</title>
    <style>
        body {
            text-align: center;
        }

        #array-container {
            margin-top: 30px;
        }

        .bar {
            display: inline-block;
            width: 20px;
            margin: 2px;
            background-color: blue;
        }
    </style>
</head>
<body>

<h1>Sorting Visualizer</h1>

<button onclick="generateArray()">Generate Array</button>
<button onclick="bubbleSort()">Start Sorting</button>

<div id="array-container"></div>

<script src="/static/visualizer/script.js"></script>

</body>
</html>